.titulo_seccion {
    position: relative;
    font-size: 40px;
    color: #003750;
    text-align: center;
  }
  .container {
    max-width: 400px; /* Define el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 10px; /* Agrega un poco de espacio alrededor del formulario */
   /* border: XX; /* Agrega un borde al contenedor */ 
    border-radius: 5px; /* Agrega bordes redondeados al contenedor */
  }
  .form-group {
    margin-bottom: 15px; /* Espacio entre cada input */
  }
  label {
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 200px; /* Define el ancho máximo del input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  textarea {
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
  }
  button {
    background-color: aqua;
  }
  button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }